* {
    margin: 0;
    padding: 0.3rem;
    background-color: #10101E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.time-input {
    border: none;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}

.timezone {
    width: 22rem;
    margin: 10px;
    color: #ffffff;
    border: 2px solid #77A2FF;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
}


h1 {
    color: #ffffff;
    margin-left: 45px;
}



